
%h2 Resource #{resource}

.row
  .col-md-4
    .card
      .card-header Commands
      .card-body

        %table.table
          %thead
            %tbody
              - Choo::Application.resources[resource.to_sym][:commands].each do |command|
                %tr
                  %td
                    %a{href:"/admin/resources/#{resource}/commands/#{command}"}=command
                  %td
                    - if "Choo::Resource::#{resource.capitalize}::Command::#{command.capitalize}".constantize.creation_command?
                      .badge.badge-warning Creation command
  .col-md-4
    .card
      .card-header Events
      .card-body


        %table.table
          %thead
            %tbody
              - Choo::Application.resources[resource.to_sym][:events].each do |event|
                %tr
                  %td
                    %a{href:"/admin/resources/#{resource}/events/#{event}"}=event
        
  .col-md-4
    .card
      .card-header Queries
      .card-body


        %table.table
          %thead
            %tbody
              - Choo::Application.resources[resource.to_sym][:queries].each do |query|
                %tr
                  %td
                    %a{href:"/admin/resources/#{resource}/queries/#{query}"}=query
        
  .col-md-12.mt-4
    .card
      .card-header Entries
      .card-body
                
        %table.table
          %thead
            - resource.capitalize.singularize.constantize.new.attributes.each do |attribute,value|
              - unless ['id', "uuid", "created_at"].include?(attribute)
                %th= attribute

          %tbody
            - resource.capitalize.singularize.constantize.all.each do |entry|
              %tr
                - entry.attributes.each do |attribute,value|
                  - unless ['id', "uuid", "created_at"].include?(attribute)
                    %td= value
